.divCard{
   
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;  
    box-shadow:  0 .5rem 1rem rgba(0, 0, 0, .15) !important; 
    margin-left: 5%;
    padding: 2%;

}

.divCard:hover {
    background-color: #FFF1F1;
    border: 1px solid red;
}