.App {

  width: 10%;
  height: 80px;
  
}


.main{
  width: 80%;
  height: 100%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
 
}

.page{
  display: flex;
}



.leftLogin{
  
  padding-top: 1rem;
  float: left;
  box-shadow: 0px 4px 8px rgba(143, 143, 143, 0.16);
}

.leftLoginLM{

  padding-top: 1rem;
  float: left;
  box-shadow: 0px 4px 8px rgba(143, 143, 143, 0.16);
}
.lm{
display: flex;
flex-direction: column;
padding-left: 0;
margin-bottom: 0;
}

.line{
  border-top: 1px solid #eaeaea;
  overflow: hidden;
  height: 0;
  margin: 0.5rem 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}





