.modalOrder {
    position: absolute;
   
    margin: auto;

    border: 1px solid #888;
  
    border-radius: 16px;
    overflow: hidden;
    background: #fff !important;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 1.5rem !important;
    width: 75% !important;
   
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    z-index: 10002;
  
}

.div_closeButton {
    background-color: transparent;
    border: none;
    transition: all 0.3s;
}


.order_closeButton {
    align-self: center;
    cursor: pointer;
    flex: 0 0 auto;
    width: 40px;
    display: flex;
    margin-top: 40px;
   
    
}

.order_closeButton:hover {
    opacity: 0.6;
}

.ingredient_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    margin-left: 40px;
    
}

.ingredient_title {
    max-width: 520px;
    margin-top: 40px;
   
}