


.divRoot{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: .6;
    overflow: hidden;
    z-index: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}